@font-face {
    font-family: Monument Extended;
    src: url(./fonts/MonumentExtended-Ultrabold.otf);
}
@font-face {
    font-family: Montserrat Bold;
    src: url(./fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat;
    src: url(./fonts/Montserrat/static/Montserrat-Regular.ttf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    max-width: 1600px;
    margin: auto;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}
.one,.two, .speakers, .instructors{
    padding-inline: 4rem;
}
#menu{
    display: none;
}
#close{
    display: none;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color: #b4cfb5;
}
body::-webkit-scrollbar-thumb{
    background-color: #31B219;
    border-radius: 100vw;
}
#blogo{
    width: 370px;
    margin: -9rem 0rem;
    transform: translateY(.5rem);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 0rem;
    background-color: rgb(255, 255, 255);
    margin-inline: 0rem;
    padding-inline: 3rem;
    z-index: 40;
    position: fixed;
    width: 1600px;
    border-bottom: 5px solid gainsboro;
}
nav img{
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-left: 0rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav li a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: black;
}
nav li a:hover{
    color: #388E3C;
}
.one{
    padding-top: 13rem;
    display: flex;
    gap: 5rem;
    position: relative;
    padding-bottom: 2rem;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 61.98%, rgba(75, 75, 75, 0.7) 78.12%);

}
.one::before{
    content: '';
    background-image: url(./images/IMG-20221211-WA0002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(30%) opacity(.4);
}
.top_left{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}
.top_right{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
}
.countdown{
    display: flex;
    gap: 5rem;
}
.top_left h1{
    font-family: Monument Extended;
    font-size: 35px;
    font-weight: 800;
    line-height: 46px;
}
.top_left h2{
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
}
.countdown h1{
    font-family: Monument Extended;
    font-size: 45px;
    font-weight: 800;
    line-height: 62px;
}
.countdown small{
    font-family: Monument Extended;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
#register{
    font-family: Monument Extended;
    font-size: 28px;
    font-weight: 800;
    line-height: 38px;
    margin-top: 2rem;
}
.one h1{
    color: white;
}
.one h2, .one small{
    color: #388E3C;
}
.two{
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}
.eventdetails{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.eventdetails main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.eventinfo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 64px rgba(41, 41, 41, 0.2);
    background-color: white;
    transform: translateY(-3rem);
}
.eventinfo div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.eventinfo h1{
    margin-bottom: .5rem;
    font-family: Monument Extended;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    letter-spacing: 0.05em;
}
.eventinfo p{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 5px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
}
.eventdetails .wte h1{
    font-family: Monument Extended;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
}
.eventdetails .wte p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #484848;
    text-align: justify;
}
.two form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.two input{
    width: 650px;
    padding: 30px 15px;
    background-color: #EEEEEE;
    font-family: Montserrat;
    font-weight: 600;
}
.two input ::-webkit-input-placeholder{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.02em;
}


/*  */
.speakers, .instructors{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.speakers h1,.instructors h1{
    font-family: Monument Extended;
    font-size: 32px;
    font-weight: 800;
    line-height: 38px;
    color: #212121;
    margin-top: 8rem;
}
.threeG{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
}
.three{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    box-shadow: 10px 0px 10px 4px #e5e5e5;
    clip-path: inset(-5px 0px -5px -5px);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.photo{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 400px;
}
#kt{
    width: 376px;
    height: 420px;
    object-fit: cover;
    object-position: 0rem .1rem;
    filter: grayscale(80%);
}
.three .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-weight: 800;
}
.three a{
    text-decoration: none;
    color: #fff;
}
.socials{
    display: flex;
    gap: 1rem;
}
.socials img{
    width: 24px;
}
h2{
    font-family: Montserrat bold;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
}
p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #4a4a4a;
    font-weight: 900;
}
.instructors{
    margin-top: 3rem;
}

footer {
    margin-inline: 0rem;
    margin-top: 25rem;
    padding: 0rem 2rem;
    background-color: #000000;
}

.logo {
    width: 350px;
    height: 350px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.footer-container {
    display: flex;
    
}

.footer-container p {
    padding: 0rem 2rem 2rem;
}


.footer-container a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
}
.orgs{
    display: flex;
    gap: 5rem;
    float: right;
    margin-top: -8rem;
}
.contact{
    color: #fff;
    margin-top: -3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
}
.footer-container a:hover {
    font-size: 20px;
    font-weight: 600;
}

footer hr {
    border-style: none;
    height: 0.5px;
    background-color: rgb(162, 159, 159);
    opacity: 0.3;
    width: 100%;
}
#footerfb{
    width: 40px;
    margin-top: -8px;
}
#footerig{
    width: 40px;
    margin-top: -8px;
}
.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}

@media (max-width: 670px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .8rem;
    }
    #close{
        display: block;   
        transform: translateX(400%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
        padding-top: 18px;
        padding-bottom: 14px;
    }
    #blogo{
        width: 300px;
        margin-left: -2.5rem;
    }
    nav{
        width: 100%;
        padding-inline: 0rem;
        margin-inline: 0rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        margin-top: 0;
        border-bottom: 2px solid gainsboro;
    }
    nav img{
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: -2rem;
        padding-left: -10rem;
    }
    nav ul{
        /* display: none; */
        position:absolute;
        inset: 0 0 0 30%;
        flex-direction: column;
        justify-content: initial;
        background-color: #F5FFF3;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
    }
}