*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Monument Extended;
    src: url(./fonts/MonumentExtended-Ultrabold.otf);
}
html{
    scroll-behavior: smooth;
}
#menu{
    display: none;
}
#close{
    display: none;
}
body{
    max-width: 1600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    Padding-inline: 6rem;
    overflow-x: hidden;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color: #b4cfb5;
}
body::-webkit-scrollbar-thumb{
    background-color: #31B219;
    border-radius: 100vw;
}
#blogo{
    width: 370px;
    margin: -9rem 0rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    background-color: rgb(255, 255, 255);
    margin-inline: -6rem;
    padding-inline: 3rem;
    z-index: 40;
    position: fixed;
    width: 1600px;
    border-bottom: 5px solid gainsboro;
}
nav img{
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-left: -2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav li a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: black;
}
nav li a:hover{
    color: #388E3C;
}
.top main{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 61.98%, rgba(75, 75, 75, 0.7) 78.12%), url(./images/aboutpics.jpeg);
    /* background-image: url(./images/aboutpics.jpeg); */
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: -6rem;
    position: relative;
    height: 870px;
    margin-top: 4.5rem;
}
.textarea{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   padding-bottom: 4.4rem;
   z-index: 0;
}
.rectangles{
    margin-right: 15px;
}
.top main h1{
    width: 806px;
    font-family: Monument Extended;
    font-size: 96px;
    font-weight: 800;
    line-height: 115px;
    color: #388E3C;
    margin-top: 3rem;
}
.top main p{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #fff;
    width: 1300px;
    z-index: 5;
}
.top main button{
    height: 77px;
    width: 310px;
    border-radius: 10px;
    padding: 24px;
    background-color: #388E3C;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 3em;
    z-index: 9;
}
.top main button:hover{
    cursor: pointer;
}
.patnership{
    display: flex;
    flex-direction: column;
    margin-inline: -6rem;
    background-color: #F8F8FB;;
    margin-top: -8rem;
    padding-bottom: 5rem;
}
.videos{
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    padding-inline: 2rem;
    margin-bottom: -4rem;
}
.videos iframe{
    width: 750px;
    transform: translateY(-10rem);
    border-radius: 20px;
}
.patners{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
    padding-inline: 8rem;
}
.patners header{
    width: 100%;
}
.patners article{
    display: flex;
    gap: 3rem;
}
.patners main{
    display: flex;
    align-items: center;
    gap: 3rem;
    width: 100%;
}
.patners h1{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.03em;
}
#webbrigde{
    width: 220px;
}
#ekolance{
    width: 120px;
}
#baf{
    width: 180px;
    background-color: #000000;
    padding: 0px 10px;
    object-fit: cover;
}
.why{
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: #f5f5fd;
    padding: 3rem 0rem;
    padding-inline: 6rem;
    margin-inline: -6rem;
    margin-top: -8rem;
}
.why h1{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 1rem;
}
.why p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 3rem;
    text-align: justify;
}
.why header{
    width: 60%;
}
.one>div img{
    width: 100%;
    height: 640px;  
}
.one>div{
    width: 50%;
   display: flex;
   justify-content: center;
}
.one{
    display: flex;
    gap: 3rem;
    margin-inline: -6rem;
    padding: 6rem;  
    background-color: #F5FFF3;
    /* background-color: #daf7e5; */
    margin-top: -8rem;
}
.one h1, .two header h1, .three header h1,.problem h1, .why h3{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.why h3{
    font-size: 20px;
    font-weight: 400;
}
.one p,.problem p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.one article{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
.one article h1{
    font-size: 25px;
}
.problem{
    margin-inline: -6rem;
    padding-inline: 6rem;
    margin-top: -8rem;
    padding-top: 4rem;
}
.problem .prosol{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: relative;
    margin-inline: -6rem;
    padding-inline: 6rem;
    margin-top: -4rem;
    padding-top: 4rem;
    padding-bottom: 4rem;   
}
.problem .prosol::before{
    content: '';
    background-image: url(./images/IMG-20221211-WA0003.jpg);
    background-color: rgb(255, 255, 255 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
    filter: blur(0px);
}
.problem .pdiv h1{
    color: #2E7D32;
}
.problem .pdiv p{
    font-weight: 800;
    font-size: 20px;
    color: #000000;
}
.problem .pdiv{
    padding: 2rem 3rem;
    /* width: 50%; */
    background-color: #F5F2FF;
    border-radius: 5px;
    position: relative;
}
.problem .pdiv::before{
    content: '';
    background-color: #F5FFF3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .2;
}
.problem .activity h4{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    margin-bottom: 2rem;
}
.problem .activity header{
    margin-top: 7rem;
}
.activity{
    background-color: #F5FFF3;
    margin-top: -8rem;
    padding-top: 5rem;
    margin-inline: -6rem;
    padding-inline: 6rem;
    padding-bottom: 5rem;
}
.teaches{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.teaches main{
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}
.teaches main div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    padding: 9rem 1rem 2rem 1rem;
    position: relative;
}
.teaches main div::before{
    content: '';
    background-image: url(./images/web3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(2.5px) brightness(70%) grayscale(10%);
    border-radius: 15px;
    
}
.teaches main div p{
    position: absolute;
    color:white;
    font-family: Monument Extended;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 1.6rem;
    filter: drop-shadow(70px 20px 20px #000000);
    padding-left: 1rem;
}

.problem .activity #t1::before{
    background-image: url(./images/image\ 6.png);
}
.problem .activity #t2::before{
    background-image: url(./images/image\ 7.png);
}
.problem .activity #t3::before{
    background-image: url(./images/community.jpg);
}
.problem .activity #t4::before{
    background-image: url(./images/crypto.jpg);
}
.problem .activity #t5::before{
    background-image: url(./images/image\ 9.png);
}
.problem .activity #t6::before{
    background-image: url(./images/nft.jpg);
}
.problem .activity #t7::before{
    background-image: url(./images/ui\ ux.jpg);
}
.problem .activity #t8::before{
    background-image: url(./images/web3.jpg);
}
.two{
    flex-direction: column;
    gap: 2rem;
    margin-top: -8rem;
}
#comm{
    transform: translateY(-7rem);
}
.two article{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.two div{
    width: 50%;
    padding: 6rem 4rem;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 20px;
}
#budv h1, #buds h1, #bucs h1{
    font-size: 22px;
}
.two button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 15px;
    background-color: white;
    margin-top: 2rem;
  
}
#budv, #budv button{
    color: #388E3C;
    background-color: #F5FFF3;
}
#budv button{
    border-radius: 10px;
    border: 0.1px solid #388E3C;
}
#buds, #buds button{
   color: #342662 ; 
   background-color: #F5F2FF;
}
#buds button{
    border-radius: 10px;
    border: .1px solid #342662;
}
#bucs, #bucs button{
    color: #5A4C1F;
    background-color: #F9F6ED;
}
#bucs button{
    border: .1px solid #5A4C1F;
    border-radius: 10px;
}
#bucs button, #buds button, #budv button :hover{
    cursor: pointer;
}
#teleb:hover{
    cursor: pointer;
}
#tele{
    margin-bottom: -5px;
    padding-left: 10px;
    width: 40px;
}
.two header{
    width: 50%;
    padding-right: 5rem;
}
.achieve{
    margin-top: -7rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
    position: relative;
    margin-inline: -6rem;
    padding-inline: 6rem;
}
.achieve::before{
    content: '';
    background-image: url(./images/IMG-20221213-WA0000.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(2px);
    opacity: .3;
}
.achieve h1{
    font-size: 35px;
    font-family: Monument Extended;
    font-weight: 500;
    line-height: 48px;
    position: relative;
}
.achieve h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    margin-top: 20px;
    line-height: 40px;
    font-weight: 400;
    background-color: #f3f5f3;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 5px 2.5px 5px #F5F2FF;
    position: relative;
}
#achieve_null{
    visibility: hidden;
    background-color: none;
}
.achieve h3:hover{
    cursor: pointer;
    font-size: 25px;
    margin-bottom: 15px;
    color: #31B219;
    font-weight: 700;
    transition: 1s ease-in-out;
}
.three{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.newevent h1{
    font-size: 85px;
    font-family: Monument Extended;
    font-weight: 500;
    line-height: 108px;
    color: white;
    /* color: #2E7D32; */
    position: relative;
}
.three a{
    text-decoration: none;
}
.newevent{
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 4rem;
    margin-bottom: 3rem;
}
.newevent::before{
    content: '';
    background-image: url(./images/conference\ 2.0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(3px);
    border-radius: 20px;
}
.neweventText{
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;    
}
#eventH{
    margin-top: -2rem;
    font-family: Monument Extended;
    font-size: 22px;

}
.neweventText a{
    font-family: Monument Extended;
    color: #31B219;
    font-weight: 300;
    font-size: 20px;
}
.three main{
    display: flex;
    gap: 2rem;
}
.oldevents{
    display: flex;
    gap: 2rem;
    width: 100vw;
}
.oldevents img{
    width: 150px;
}
.featured{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin-top: -1rem;
}
.featured::-webkit-scrollbar-button{
    background-color: #e5e5e5;
    color: #2E7D32;
}
.featured ::-webkit-scrollbar-track{
    background-color: #e5e5e5;
    color: #2E7D32;
    height: 5px;
}
.oldevents{
    position: relative;
    padding: 2rem 1rem;
    width: 100%;
    animation: slide_events 16s linear 1s infinite;
}
.oldevents img:hover{
    width: 170px;
    transition: 1s linear;
    transition-delay: .2s;
}
.oldevents img{
    border-radius: 10px;
    transition: .5s linear;
}
#b1_0{
    width: 120px;
}
@keyframes slide_events {
    /* 0%{
        transform: translateX(-27.65%);
    } */
    0%{
        transform: translateX(-6%);
    }
    100%{
        transform: translateX(-110%);
    }
}
.three div h2{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 900;
    line-height: 39px;
    margin-top: 3rem;
    position: relative;
    visibility: hidden;
}
.three header{
    font-size: 23px;
}
hr{
    width: 90px;
    height: 7px;
    background-color: #388E3C;
}

.testimonials{
    display: flex;
    flex-direction: column;
    position: relative;
 }       
 .testimonial-card{
    width: 80%;
    overflow-x: hidden;
    margin: auto;
 }
 .card1, .card2{
    animation: sliding 20s linear infinite;
    object-fit: cover;
    width: 100%;
 }
#testimonialss{
    display: flex;
}
.testimonials main{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;   
    position: relative;
    width: 95%;
}
#reviewsSwipe{
    display: none;
}
.testimonials h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
}
.reviewidentity{
    display: flex;
    gap: 0rem;
}
.reviewidentity header{
    margin-left: -3rem;
    width: 25vw;
}
.reviewidentity h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    /* margin-right: 15rem; */
    width: 100%;
}
.reviewidentity p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.card1, .card2 {
    padding: 1rem;
    box-shadow: 0px 0px 15px #fbf2f2;
    width: 50vw;
}
.card1 {
    background-color: #f7fff9;
    z-index: 1;
}

.card2 {
    background-color: #f7fff9;
}
.testimonial-card p {
    margin-bottom: 12px;
}
.testimonial-card h5 {
    color: #388E3C;
    padding-top: 2rem;
}
#next{
    cursor: pointer;
    width: 80px;
    /* border-radius: 55%; */
    padding: 10px;
    position: absolute;
    /* background: #ffffff; */
    /* box-shadow: 0px 0px 10px 1px #aeb8ac; */
    z-index: 2;
    right: -1rem;
    top: 40%;
}
#prev{
    cursor: pointer;
    width: 80px;
    /* border-radius: 55%; */
    padding: 10px;
    position: absolute;
    /* background: #ffffff;
    box-shadow: 0px 0px 10px 1px #aeb8ac; */
    z-index: 2;
    top: 40%;
    left: -1rem;
    visibility: hidden;
}
.reviewidentity{
    display: flex;
    align-items: center;
}
.reviewimg{
    width: 100px;
}
.teamsec{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.cfs{
    display: flex;
    gap: 3rem;
}
.teaml{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    box-shadow: 10px 0px 10px 4px #e5e5e5;
    clip-path: inset(-5px 0px -5px -5px);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.photo{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.teaml .cfst{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.teaml a{
    text-decoration: none;
    color: #fff;
}
.teaml .socials{
    display: flex;
    gap: 1rem;
}
.teaml .socials img{
    width: 24px;
}
.teaml h2{
    font-family: 'Monument Extended', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #4a4a4a;
}
.teaml p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    color: #4a4a4a;
}
.teamsec header h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 0em;
    margin-top: 15px;
    margin-bottom: 1rem;
 }
.otherst img{
    margin-right: -1rem;
 }
.otherst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.otherst a{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #212121;
    margin-top: 10px;
    text-decoration: none;
}
.otherst h4 img{
    transform: translateY(3px);
    padding-left: 4px;
}
.otherst div img{
    width: 60px;
    border-radius: 50%;
}
.community {
    background: linear-gradient(to right, rgba(215, 247, 227, 1), rgba(215, 247, 227, 0), rgba(215, 247, 227, 1));
    padding-inline: 2rem;   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 4rem;
    margin-inline: -6rem;
    margin-top: -8rem;
}
.community header{
    width: 100%;
}
.community h1 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
}
.community-breakdown {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 7rem;
}
.community-breakdown li {
    list-style: none;
}
.community-breakdown h4 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 64px;
    color: #2E7D32;
}

.community-breakdown p {
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-inline: -6rem;
    margin-top: -7rem;
    padding: 0rem 4rem;
    background-color: #000000;
}

.logo {
    width: 350px;
    height: 350px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.footer-container {
    display: flex;
    
}

.footer-container p {
    padding: 0rem 2rem 2rem;
}


.footer-container a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
}
.orgs{
    display: flex;
    gap: 5rem;
    float: right;
    margin-top: -8rem;
}
.footer-container a:hover {
    font-size: 20px;
    font-weight: 600;
}

footer hr {
    border-style: none;
    height: 0.5px;
    background-color: rgb(162, 159, 159);
    opacity: 0.3;
    width: 100%;
}
#footerfb{
    width: 40px;
    margin-top: -8px;
}
#footerig{
    width: 40px;
    margin-top: -8px;
}
.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}


@media only screen and (max-width: 670px){
    html{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .7rem;
    }
    #close{
        display: block;   
        transform: translateX(300%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    body{
        width: 100%;
        padding-inline: 1rem;
        overflow-x: hidden;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
        padding-top: 18px;
        padding-bottom: 14px;
    }
    #blogo{
        width: 300px;
        margin-left: -2.5rem;
    }
    nav{
        width: 100%;
        padding-inline: 1rem;
        margin-inline: -1rem;
    }
    nav img{
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: -2rem;
        padding-left: -10rem;
    }
    nav ul{
        /* display: none; */
        position:absolute;
        inset: 0 0 0 30%;
        flex-direction: column;
        justify-content: initial;
        background-color: white;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
    }
    .top main{
        margin-inline: -1rem;
        margin-top: 0rem;
        padding-top: 3rem;
        height: 700px;
        padding-inline: 1rem;
        /* position: relative; */
        /* padding-top: 5rem; */
    }
    .top main::before{
        content: '';
        background-image: url(./images/IMG-20221211-WA0002.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* filter: blur(0px); */
        filter: brightness(40%);
        opacity: .6;
    }
    .top main h1{
        position:relative;
        width: 80%;
        font-size: 45px;
        line-height: 45px;
        /* margin-top: 18rem; */
        margin: auto;
    }
    .top main p{
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }
    .textarea{
        margin: auto;
    }
    .rectangles{
        margin-right: 15px;
        width: 30px;
    }
    .top main button{
        height: 49px;
        width: 270px;
        font-size: 16px;
        padding: 10px;
    }
    .videos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .videos iframe{
        width: 98%;
        height: 310px;
        transform: translateY(-5rem);
    }
    .patnership{
        margin-inline: -1rem;
        margin-bottom: -4rem;
    }
    .patners h1{
        font-size: 22px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 0;
    }
    .patners{
        margin-top: -3rem;
        padding-inline: 2rem;
        gap: 1rem;
    }
    #meet{
        display: none;
    }
    .patners article{
        flex-direction: column;
        gap: 8rem;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
    }
    .patners main{
        gap: 1rem;
        justify-content: space-between;
        /* border: 1px solid; */
        width: 100%;
        display: flex;
        gap: 1rem;
    }
    #webbridge{
        width: 100px;
    }
    #baf{
        width: 140px;
    }
    .patners img{
        width: 150px;
    }
    .patner3{
        display: flex;
        justify-content: space-between;
        margin-top: -9rem;
    }
    .patnertop{
        margin-bottom: -12rem;
        margin-top: -2rem;
    }
    hr{
        margin-bottom: -10px;
        width: 100px;
        height: 7px;
        background-color: #388E3C;
    }
    .why{
        flex-direction: column;
        gap: 1rem;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
    }
    .why h1{
        font-size: 22px;
        line-height: 25px;
        margin-top: 10px;
    }
    .why header{
        width: 100%;
    }
    .why h3{
        font-size: 18px;
    }
    .why p{
        font-size: 16px;
    }
    .why main{
        width: 100%;
    }
    .why main img{
        height: 281px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .one{
        flex-direction: column;
        padding-top: 1rem;
    }
    .one>div{
        width: 100%;
    }
    #logo{
        opacity: .1;
        position: absolute;
        top: 3rem;
        left: 0rem;
        bottom: 0rem;
        right: 0rem;
    }
    .one article{
        width: 100%;
        gap: 2.5rem;
        justify-content: center;
    }
    .one{
        gap: 3rem;
        padding: 5rem 1rem;
        background-color: #F5FFF3;
        flex-direction: column;
        position: relative;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
    }
    .one h1{
        font-size: 22px;
        margin-top: -.7rem;
    }
    .one p, .three article p{
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
    }
    .one p{
        text-align: justify;
    }
    .one article h1{
        font-size: 24px;
    }
    .one article{
        margin-top: -2rem;
    }
    hr{
        width: 50px;
    }
    .problem{
        margin-inline: -1rem;
        padding-inline: 1rem; 
    }
    .problem .prosol{
        margin-inline: -1rem;
        padding-inline: 1rem; 
        gap: 1rem;
    }
    .problem .pdiv{
        padding: 1rem;
    }
    .problem .pdiv h1{
        font-size: 22px;
    }
    .problem .pdiv p{
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
    }
    .activity{
        margin-top: -7.5rem;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
    }
    .problem .activity h4{
        font-size: 22px;
        line-height: 25px;
        margin-top: 1rem;
    }
    .teaches main{
        flex-direction: column;
    }
    #teaching{
        margin-top: 10px;
    }
    .teaches main div{
        width: 100%;
        padding-bottom: 1rem;
    }
    .teaches main div p{
        font-size: 22px;
        /* text-align: center; */
        /* margin-left: -1rem; */
        margin-top: -2rem;
    }
    .two{
        flex-direction: column;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
        margin-bottom: -2rem;
        margin-top: -10rem;
    }
    .two header h1{
        font-size: 22px;
        line-height: 25px;
        padding-top: 10px;
    }
    .two header{
        margin-left: 1rem;
    }
    #budv h1, #buds h1, #bucs h1{
        font-size: 15px;
        line-height: 25px;
    }
    #tele{
        width: 30px;
    }
    #budv{
        margin-bottom: -.5rem;
    }
    .two button{
        font-size: 16px;
        margin-top: 1rem;
    }
    .two article{
        flex-direction: column;
        justify-content: center;
        Padding-inline: 0rem;
    }
    #budv,#budc,#bucs{
        margin-left: 0rem;
    }
    .two header{
        margin-left: 0%;
    }
    .two header, .two div{
        width: 95%;
    }
    .two header,.three header{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .achieve{
        margin-inline: -1rem;
        padding-inline: 1.5rem;
        padding-top: 2rem;
        padding-bottom: .5rem;
    }
    .achieve h1{
        font-size: 22px;
        line-height: 30p;
    }
    .achieve h3{
        font-size: 16px;
        line-height: 25px;
        margin-top: 15px;
    }
    .achieve h3:hover{
        font-size: 16px;
    }
    .achieve h3:active{
        color: #31B219;
        transition: .2s linear;
    }
    .newevent h1{
        font-size: 30px;
        line-height: 38px;
        width: 90%;
        padding-left: .5rem;
    }
    .newevent::before{
        border-radius: 10px;
    }
    #eventH{
        font-size: 16px;
        line-height: 28px;
        padding-inline: .5rem;
    }
    .neweventText{
        margin-top: -1rem;
        margin-bottom: 2rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        line-height: 25px;
        font-weight: 500;    
        text-align: justify;
        padding-inline: .5rem;
    }
    .neweventText a{
        font-family: Monument Extended;
        color: #31B219;
        font-weight: 300;
        font-size: 14px;
    }
    .newevent::before{
        padding-inline: 1.5rem;
        left: .5rem;
        right: .5rem;
    }
    .three{
        margin-top: -3rem;
        margin-inline: -1rem;
        margin-bottom: -3rem;
        /* padding-inline: 7rem; */
    }
    .three header{
        margin-bottom: -2rem;
        padding-left: .5rem;
    }
    .featured{
        overflow-x: scroll;
    }
    .featured::-webkit-scrollbar-button{
        background-color: #e5e5e5;
        color: #2E7D32;
    }
    .featured ::-webkit-scrollbar-track{
        background-color: #e5e5e5;
        color: #2E7D32;
        height: 5px;
    }
    .bhub{
        animation: none;
    }
    .three hr{
        transform: translateY(0rem);
    }
    /* .oldevents{
        animation: none;
    } */
    #reviewsSwipe{
        display: block;
        position: absolute;
        right: .5rem;
        top: 50%;
        width: 40px;
        z-index: 2;
        background-color: #f3f5f3;
        padding: 4px 4px;
        border-radius: 50%;
    }
    .testimonials{
        padding-inline: 1.5rem;
        margin-inline: -1rem;
        margin-top: -4rem;
    }
    .testimonials h1{
        font-size: 18px;
        line-height: 25px;
        margin-top: 10px;
    }
    .testimonial-card{
        overflow-x: scroll;
        width: 100%;
        margin: auto;
        
    }
    .card1{
        animation: phoneR 10s linear infinite;
    }
    @keyframes phoneR {
        100%{
            transform: translateX(-670px);
        }
    }
    .testimonial-card::-webkit-scrollbar{
        border-radius: 20px;
        height: 2px;
        opacity: .7;
        scrollbar-width: thin;
    }
    .testimonial-card::-webkit-scrollbar-thumb{
        background-color: #6f9971;
        height: 1px;
        border-radius: 200vw;
    }
    .testimonial-card::-webkit-scrollbar-track{
        height: 2px;
        width: 1em;
        background-color: #eeeeee;
    }
    .testimonial-card::-webkit-scrollbar-track-piece{
        height: 2px;
    }
    .reviewidentity h2{
        font-size: 16px;
        margin-right: 0;
        line-height: 25px;
    }
    .reviewidentity p{
        font-size: 12px;
        line-height: 20px;
    }
    .reviewidentity{
        display: flex;
        flex-direction: column;
    }
    .reviewidentity header{
        margin-left: 0rem;
    }
    .reviewimg{
        width: 70px;
    }
    #next,#prev{
        display: none;
    }
    .card1, .card2 {
        padding: 1.5rem 1rem;
        box-shadow: 0px 0px 15px #fbf2f2;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin-right: -2rem;
    }
    .card1 p{
        text-align: justify;
    }
    #reviewsHeader{
        font-size: 18px;
    }
    .testimonials h1{
        font-size: 20px;
    }
    .testimonials main{
        width: 100%;
        margin-inline: 0rem;
        padding-left: 1rem;
    }
    .teamsec{
        margin-inline: -1rem;
        padding-inline: 1.5rem;
        gap: 0rem;
        margin-top: 3rem;
    }
    .team-section{
        padding: 0 1rem;
        margin-bottom: 13rem;
    }
    .team-section main{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 6rem;
     }
     .main2{
        margin-top: 3rem;
     }
     .team-section main article{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: center;
     }
     .cfs{
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 5rem;
     }
     .teamsec header h1{
        font-size: 22px;
        line-height: 25px;
     }
     .teaml h2{
        line-height: 30px;
     }
     .teaml{
        flex-direction: column;
        width: 100%;
        clip-path: inset(-5px -5px -5px -5px);
        box-shadow: 0px 5px 15px gainsboro;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        border-bottom-left-radius: 0px;
     }
     .teaml .cfst{
        gap: 18px;
        width: 75%;
        padding-left: 1rem;
        padding-bottom: 1rem;
     }
     .photo{
        border-radius: 5px;
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 0% 10%;
     }
     #nduka{
        object-position: 0% 25%;
     }
     .teaml .socials{
        display: flex;
        gap: .2rem;
    }
    .otherst{
        align-items: center;
    }
    .otherst div img{
        width: 60px;
        padding-bottom: 10px;
    }
    .otherst h4 img{
        transform: translateY(3px);
        padding-left: 0px;
    }
    .otherst a{
        font-size: 23px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 20px;

    }
    .community{
        margin-inline: -1rem;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: -8rem;
    }
    .community header h1{
        font-size: 22px;
    }
    .community-breakdown {
        flex-direction: column;
        gap: 2rem;
     }
     .community-breakdown li {
         width: 100%;
     }
     .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 22px;
        color: #2E7D32;
    }
    footer{
        margin-inline: -1rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
    .orgs{
        margin-top: 0;
        gap: 1rem;
        float: initial;
        margin: auto;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .orgs h3{
        display: none;
    }
}

@media only screen and (max-width:1920px){
    body{
        max-width: 1920px;
    }
    nav{
        width: 100%;
    }
}

@media only screen and (max-width:1440px){

    nav{
        width: 100%;
    }
    .one h1, .two header, .three header h1{
        font-size: 22px;
        margin-top: -.7rem;
    }
    #logo{
        width: 470px;
        height: 470px; 
    }
    .one p, .three article p{
        font-size: 16px;
        line-height: 25px;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .sold-out{
        color:#31B219;
        margin-top: 1rem;
    }
    .three{
        padding-inline: 1rem;
    }
    .three main{
        padding-inline: 1rem;
    }
    .three div{
        padding: min(1rem,1rem);
    }
    .two button{
        font-size: 14px;
    }
    .two div{
        padding: 2rem 3rem;
    }
    .reviewidentity header{
        margin-left: -3rem;
        width: 25vw;
    }
    .testimonials main{
        width: 100%;
        gap: 4rem;
    }
    @keyframes slide_events {
        /* 0%{
            transform: translateX(-6%);
        } */
    100%{
        transform: translateX(-128.5%);
    }
}
#next{
    padding-left: 1rem;
    transform: translateX(3rem);
}
#prev{
    transform: translateX(-3rem);
}

}

@media (max-width:1140px) and (min-width:760px){
    .three main{
        flex-direction: row;
    }
    .three article{
        flex-direction: column;
    }
    .one>div{
        justify-content: center;
        width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #logo{
       
        height: 400px; 
    }
    .one article{
        width: 100%;
        padding-inline: 1rem;
    }
    .one article>div{
        margin-bottom: 2rem;
    }
    .two{
        flex-direction: column;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header,.testimonials h1,.team-section header h1{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    .testimonials{
        padding-inline: 1rem;
    }
    .testimonial-card{
        flex-direction: column;
    } 
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    /* .team-section{
        padding-inline: 1rem;
    }
   .team-section .main1,.team-section .main2{
    flex-direction: column;
   }
   .team-section .main2 .otherTeam::before{
    content: 'Other Team members';
   }
   .team-section .main2 .otherTeam{
    justify-content: center;
   }
   .team-section .main1 article,.team-section .main2 article{
    width: 100%;
   } */
   .community{
    margin-inline: 0rem;
    padding-inline: 1rem;
    width: 100%;

    }
    .community header h1{
        font-size: 28px;
        line-height: 26px;
    }
    .community-breakdown {
        flex-direction: row;
        gap: 1rem;
    }
    .community-breakdown li {
        width: 100%;
    }
    .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 39px;
        color: #2E7D32;
    }
    footer{
        margin-inline: 0rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
}