@font-face {
    font-family: Monument Extended;
    src: url(./fonts/MonumentExtended-Ultrabold.otf);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#menu{
    display: none;
}
#close{
    display: none;
}
body{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    Padding-inline: 6rem;
    overflow-x: hidden;
    background-color: #fff;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color: #b4cfb5;
}
body::-webkit-scrollbar-thumb{
    background-color: #31B219;
    border-radius: 100vw;
}
#blogo{
    width: 370px;
    margin: -9rem 0rem;
    transform: translateY(.5rem);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgb(255, 255, 255);
    margin-inline: -6rem;
    padding-inline: 3rem;
    z-index: 40;
    position: fixed;
    width: 1440px;
    border-bottom: 3px solid gainsboro;
}
nav img{
    margin-bottom: -3rem;
    margin-top: 0rem;
    margin-left: -2rem;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 3rem;
}
nav li a{
    text-decoration: none;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    color: black;
}
nav li a:hover{
    color: #388E3C;
}
.top main{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 61.98%, rgba(75, 75, 75, 0.7) 78.12%), url(images/aboutpics.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-inline: -6rem;
    position: relative;
    height: 870px;
    margin-top: 4.5rem;
}
.textarea{
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   padding-bottom: 4.4rem;
   z-index: 0;
}
.rectangles{
    margin-right: 15px;
}
.top main h1{
    width: 806px;
    font-family: Monument Extended;
    font-size: 96px;
    font-weight: 800;
    line-height: 115px;
    color: #388E3C;
    margin-top: 3rem;
}
.top main p{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    text-align: center;
    color: #fff;
    width: 1300px;
    z-index: 5;
}
.top main button{
    height: 77px;
    width: 310px;
    border-radius: 10px;
    padding: 24px;
    background-color: #388E3C;
    border: none;
    color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    margin-top: 3em;
    z-index: 9;
}
.top main button:hover{
    cursor: pointer;
}
.patnership{
    display: flex;
    flex-direction: column;
    margin-inline: -6rem;
    background-color: #F8F8FB;;
    margin-top: -8rem;
    padding-bottom: 5rem;
}
.videos{
    display: flex;
    gap: 2.1rem;
    justify-content: center;
    padding-inline: 2rem;
    margin-bottom: -4rem;
}
.videos iframe{
    width: 750px;
    transform: translateY(-10rem);
    border-radius: 20px;
}
.patners{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-inline: 8rem;
}
.patners header{
    width: 35%;
}
.patners article{
    display: flex;
    gap: 2rem;
    width: 100%;
    margin-bottom: -1rem;
}
.allpatners{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 65%;
}
.patner2,.patnertop,.patner3{
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: center;
}
.patner3{
    gap: 7rem;
}
.patners h1{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 55px;
    letter-spacing: 0.03em;
}
#webbrigde{
    width: 220px;
}
#ekolance{
    width: 120px;
    margin-right: 7rem;
}
.patner3{
    margin-top: -3rem;
}
#baf{
    width: 180px;
    background-color: #000000;
    padding: 0px 10px;
    object-fit: cover;
}
.why{
    display: flex;
    gap: 4rem;
    align-items: center;
    background-color: #f5f5fd;
    padding: 3rem 0rem;
    padding-inline: 6rem;
    margin-inline: -6rem;
    margin-top: -8rem;
}
.why h1{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    margin-bottom: 1rem;
}
.why p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 3rem;
    text-align: justify;
    color: #484848;
}
.why header{
    width: 60%;
}
.why main img{
    animation: preach 2.3s linear infinite;
}
@keyframes preach {
    50%{
        transform: translate(-20px,-20px);
    }
    100%{
        transform: translate(20px, 20px, 20px);
    }
}
#read{
    text-decoration: none;
    color: #388E3C;
    font-weight: 900;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    line-height: 29px;
    border: 1px solid #388E3C;
    padding: 10px;
    border-radius: 15px;
}
#read:hover{
    background-color: #388E3C;
    color: white;
}
.one>div img{
    width: 100%;
    height: 640px;  
}
.one>div img:hover{
    animation: tot 3s linear;
    animation-iteration-count: 1;
    cursor: pointer;
}
@keyframes tot {
    50%{
        transform: rotateX(180deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}
.one>div{
    width: 50%;
   display: flex;
   justify-content: center;
}
.one{
    display: flex;
    gap: 3rem;
    margin-inline: -6rem;
    padding: 6rem;  
    background-color: #F5FFF3;
    margin-top: -8rem;
}
.one h1, .two header h1, .three header h1,.problem h1, .why h3{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
}
.why h3{
    font-size: 20px;
    font-weight: 400;
}
.one p,.problem p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
}
.one article{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.one article h1{
    font-size: 25px;
}
.one article div{
    border: 1px solid #e5e5e5;
    padding: 30px;
    border-radius: 10px;
}
.mission:hover{
    background-color: #388E3C;
    color: white;
    box-shadow: 0px 0px 64px #388E3C;
    border: none;
    transition: .3s linear;
}
.vision:hover{
    background-color: #388E3C;
    color: white;
    box-shadow: 0px 0px 64px #388E3C;
    border: none;
    transition: .3s linear;
}
.two{
    flex-direction: column;
    gap: 2rem;
    margin-top: -8rem;
}
#comm{
    transform: translateY(-7rem);
}
.two article{
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1.5rem;
}
.two div{
    width: 50%;
    padding: 6rem 4rem;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    border-radius: 20px;
}
#budv h1, #buds h1, #bucs h1{
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 900;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
}
.two button{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    padding: 10px 15px;
    background-color: white;
    margin-top: 2rem;
  
}
#budv, #budv button{
    color: #388E3C;
    background-color: #F5FFF3;
}
#budv button{
    border-radius: 10px;
    border: 0.1px solid #388E3C;
}
#buds, #buds button{
   color: #342662 ; 
   background-color: #F5F2FF;
}
#buds button{
    border-radius: 10px;
    border: .1px solid #342662;
}
#bucs, #bucs button{
    color: #5A4C1F;
    background-color: #F9F6ED;
}
#bucs button{
    border: .1px solid #5A4C1F;
    border-radius: 10px;
}
#bucs button, #buds button, #budv button :hover{
    cursor: pointer;
}
#budv button:hover{
    background-color: #388E3C;
    color: white;
    transition: .5s linear;
}
#buds button:hover{
    background-color: #342662;
    color: white;
    transition: .5s linear;
}
#bucs button:hover{
    background-color: #5A4C1F;
    color: white;
    transition: .5s linear;
}
#teleb:hover{
    cursor: pointer;
}
#tele{
    margin-bottom: -5px;
    padding-left: 10px;
    width: 40px;
}
.two header{
    width: 50%;
    padding-right: 5rem;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.skills h1{
    font-family: Monument Extended;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
}
.skills article{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.skills ul{
    display: flex;
    gap: 3%;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.skills ul li{
    width: 30%;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 800;
    line-height: 39px;
    border: 1px solid;
    height: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.skills ul li h2{
    display: none;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    line-height: 29px;
    display: block;
}
.skills ul li span{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:  Montserrat;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    display: block;
    margin-top: 3rem;
}
#bdtext_0,#fdtext_0,#dstext_0,#hdtext_0,#cetext_0{
    display: none;
}
.skills ul li span p{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
}
.skills ul li span p img{
    padding-right: 10px;
    transform: translateY(3px);
}
#bd{
    background-image: url(./images/blockchain\ tech.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#fd{
    background-image: url(./images/image\ 7.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#ds{
    background-image: url(./images/ui\ ux.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#hd{
    background-image: url(./images/content.png);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
#ce{
    background-image: url(./images/crypto.jpg);
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}
.three{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.countdown h1{
    font-family: Monument Extended;
    font-size: 45px;
    font-weight: 800;
    line-height: 62px;
}

.three a{
    text-decoration: none;
}
.neweventText{
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 23px;
    line-height: 30px;
    font-weight: 500;    
    color: #484848;
}
#eventH{
    margin-top: -2rem;
    font-family: Monument Extended;
    font-size: 22px;

}
#fulldet{
    font-family: Montserrat;
    color: #31B219;
    font-weight: 600;
    padding: 10px 20px;
    background-color: white;
    font-size: 20px;
    width: 100%;
    text-align: right;
    border-radius: 16px;
}
#evearr{
    margin-right: .6rem;
    border: 1px solid #388E3C;
    padding: 10px 10px;
    border-radius: 20px;
    transform: translateY(10px);
}
.three main{
    display: flex;
    gap: 2rem;
}
.countdown{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    position: relative;
    color: white;
    padding: 50px 40px;
    border-radius: 20px;
}
.countdown::before{
    content: '';
    background-image: url(./images/IMG-20230107-WA0006.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(10%);
    border-radius: 20px;
    object-fit: contain;
    object-position: 0px -40%;
}
.countdown article{
    display: flex;
    gap: 10rem;
    position: relative;
}
.countdown h1{
    font-size: 40px;
    position: relative;
}
.countdown h3{
    font-size: 24px;
    font-family: Montserrat;
    position: relative;
    color: #388E3C;
}
.countdown small{
    font-family: Monument Extended;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #388E3C;
}
.oldevents{
    display: flex;
    gap: 2rem;
    width: 100vw;
}
.oldevents img{
    width: 150px;
}
.featured{
    overflow-x: hidden;
    position: relative;
    width: 100%;
    margin-top: -1rem;
}
.featured::-webkit-scrollbar-button{
    background-color: #e5e5e5;
    color: #2E7D32;
}
.featured ::-webkit-scrollbar-track{
    background-color: #e5e5e5;
    color: #2E7D32;
    height: 5px;
}
.oldevents{
    position: relative;
    padding: 2rem 1rem;
    width: 100%;
    animation: slide_events 16s linear 1s infinite;
}
.oldevents img:hover{
    width: 170px;
    transition: 1s linear;
    transition-delay: .2s;
}
.oldevents img{
    border-radius: 10px;
    transition: .5s linear;
}
#b1_0{
    width: 120px;
}
@keyframes slide_events {
    0%{
        transform: translateX(-6%);
    }
    100%{
        transform: translateX(-110%);
    }
}
.three div h2{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 900;
    line-height: 39px;
    margin-top: 3rem;
    position: relative;
    visibility: hidden;
}
.three header{
    font-size: 23px;
}
hr{
    width: 90px;
    height: 7px;
    background-color: #388E3C;
}
.testimonials{
    display: flex;
    flex-direction: column;
    position: relative;
 }       
 .testimonial-card{
    width: 100%;
    overflow-x: hidden;
    margin: auto;
 }
 .card1, .card2{
    animation: sliding 20s linear infinite;
    object-fit: cover;
    width: 100%;
 }
#testimonialss{
    display: flex;
}
.testimonials main{
    display: flex;
    flex-direction: row;
    gap: 5rem;
    padding: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 28px;   
    position: relative;
    width: 100%;
}
#reviewsSwipe{
    display: none;
}
.testimonials h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
}
.reviewidentity{
    display: flex;
    gap: 0rem;
}
.reviewidentity header{
    margin-left: -3rem;
    width: 25vw;
}
.reviewidentity h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    width: 100%;
}
.reviewidentity p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.card1, .card2 {
    padding: 1rem;
    box-shadow: 0px 0px 15px #fbf2f2;
    width: 50vw;
}
.card1 {
    background-color: #f7fff9;
    z-index: 1;
    animation: reviews 7s linear infinite;
    display: flex;
    flex-direction: column-reverse;
    padding: 64px;
}

@keyframes reviews {
    100%{
        transform: translateX(-225%);
    }
}
.card2 {
    background-color: #f7fff9;
}
.testimonial-card p {
    margin-bottom: 12px;
}
.testimonial-card h5 {
    color: #388E3C;
    padding-top: 2rem;
}
.reviewimg{
    width: 80px;
    border-radius: 50%;
}
.teamsec{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
.cfs{
    display: flex;
    gap: 3rem;
}
.teaml{
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 50%;
    box-shadow: 10px 0px 10px 4px #e5e5e5;
    clip-path: inset(-5px 0px -5px -5px);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.photo{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.teaml .cfst{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}
.teaml a{
    text-decoration: none;
    color: #fff;
}
.teaml .socials{
    display: flex;
    gap: 1rem;
}
.teaml .socials img{
    width: 24px;
}
.teaml h2{
    font-family: 'Monument Extended', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;
    color: #4a4a4a;
}
.teaml p{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    color: #4a4a4a;
}
.teamsec header h1{
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 0em;
    margin-top: 15px;
    margin-bottom: 1rem;
 }
.otherst img{
    margin-right: -1rem;
 }
.otherst{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.otherst a{
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #212121;
    margin-top: 10px;
    text-decoration: none;
}
.otherst h4 img{
    transform: translateY(3px);
    padding-left: 4px;
}
.otherst div img{
    width: 60px;
    border-radius: 50%;
}
.community {
    background: linear-gradient(to right, rgba(215, 247, 227, 1), rgba(215, 247, 227, 0), rgba(215, 247, 227, 1));
    padding-inline: 2rem;   
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 6rem 4rem;
    margin-inline: -6rem;
    margin-top: -8rem;
}
.community header{
    width: 100%;
}
.community h1 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 48px;
    letter-spacing: 0em;
}
.community-breakdown {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 7rem;
}
.community-breakdown li {
    list-style: none;
}
.community-breakdown h4 {
    font-family: 'Monument Extended', sans-serif;
    font-size: 64px;
    color: #2E7D32;
}

.community-breakdown p {
    font-family: 'Montserrat', sans-serif;
}

footer {
    margin-inline: -6rem;
    margin-top: -8rem;
    padding: 0rem 4rem;
    background-color: #000000;
}

.logo {
    width: 350px;
    height: 350px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.footer-container {
    display: flex;
    
}

.footer-container p {
    padding: 0rem 2rem 2rem;
}


.footer-container a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
footer h3{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 300;
}
.orgs{
    display: flex;
    gap: 5rem;
    float: right;
    margin-top: -8rem;
}
.contact{
    color: #fff;
    margin-top: -3rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: end;
    font-family: 'Monument Extended', sans-serif;
    font-size: 30px;
    font-weight: 800;
   
}
.footer-container a:hover {
    font-size: 20px;
    font-weight: 600;
}

footer hr {
    border-style: none;
    height: 0.5px;
    background-color: rgb(162, 159, 159);
    opacity: 0.3;
    width: 100%;
}
#footerfb{
    width: 40px;
    margin-top: -8px;
}
#footerig{
    width: 40px;
    margin-top: -8px;
}
.copyright {
    display: flex;
    justify-content: center;
}

.copyright p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    
}


@media only screen and (max-width: 670px){
    html{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .7rem;
    }
    #close{
        display: block;   
        transform: translateX(300%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    body{
        width: 100%;
        padding-inline: 1rem;
        overflow-x: hidden;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
        padding-top: 18px;
        padding-bottom: 14px;
    }
    #blogo{
        width: 300px;
        margin-left: -2.5rem;
        transform: translateY(0);
    }
    nav{
        width: 100%;
        padding-inline: 1rem;
        margin-inline: -1rem;
    }
    nav img{
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: -2rem;
        padding-left: -10rem;
    }
    nav ul{
        position:absolute;
        inset: 0 0 0 30%;
        flex-direction: column;
        justify-content: initial;
        background-color: #F5FFF3;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
    }
    .top main{
        margin-inline: -1rem;
        margin-top: 0rem;
        padding-top: 3rem;
        height: 700px;
        padding-inline: 1rem;
    }
    .top main::before{
        content: '';
        background-image: url(./images/IMG-20221211-WA0002.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        /* filter: blur(0px); */
        filter: brightness(40%);
        opacity: .6;
    }
    .top main h1{
        position:relative;
        width: 100%;
        font-size: 45px;
        line-height: 45px;
        /* margin-top: 18rem; */
        margin: auto;
    }
    .top main p{
        font-size: 16px;
        line-height: 25px;
        width: 100%;
    }
    .textarea{
        margin: auto;
    }
    .rectangles{
        margin-right: 15px;
        width: 30px;
    }
    .top main button{
        height: 49px;
        width: 270px;
        font-size: 16px;
        padding: 10px;
    }
    .videos{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .videos iframe{
        width: 98%;
        height: 310px;
        transform: translateY(-5rem);
    }
    .patnership{
        margin-inline: -1rem;
        margin-bottom: -1rem;
    }
    .patners h1{
        font-size: 22px;
        text-align: center;
        line-height: 25px;
        letter-spacing: 0;
    }
    .patners{
        margin-top: -3rem;
        padding-inline: 2rem;
        flex-direction: column;
        gap: 2rem;
    }
    .patners header{
        width: 100%;
    }
    .patners article{
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: auto;
        gap: 0;
    }
    .allpatners{
        display: flex;
        width: 100%;
        overflow-x: hidden;
    }
    .patner1_con{
        display: flex;
        flex-direction: column;
    }
    .patner2,.patnertop,.patner3{
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 1rem;
    }
    .patner2{
        gap: 2rem;
    }
    .patner3{
        gap: 5rem;
    }
    .patnertop{
        margin-bottom: -5rem;
    }
    #webbridge{
        width: 100px;
    }
    #baf{
        width: 140px;
    }
    .patners img{
        width: 150px;
    }
    #ekolance{
        width: 120px;
        margin-right: 0rem;
    }
    hr{
        margin-bottom: -10px;
        width: 100px;
        height: 7px;
        background-color: #388E3C;
    }
    .why{
        flex-direction: column;
        gap: 3rem;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
    }
    .why h1{
        font-size: 20px;
        line-height: 25px;
        margin-top: 10px;
    }
    .why header{
        width: 100%;
    }
    .why h3{
        font-size: 16px;
    }
    .why p{
        font-size: 12px;
    }
    .why main{
        width: 100%;
    }
    .why main img{
        height: 281px;
        width: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    .one{
        flex-direction: column;
        padding-top: 1rem;
        position: relative;
    }
    .one>div{
        width: 100%;
        position: relative;
    }
    #logo{
        opacity: .1;
        position: absolute;
        top: 0rem;
        left: 0rem;
        bottom: 0rem;
        right: 0rem;
        width: 100%;
        height: 450px;
    }
    .one article{
        width: 100%;
        gap: 2.5rem;
        justify-content: center;
        position: relative;
    }
    .one{
        gap: 3rem;
        padding: 5rem 1rem;
        background-color: #F5FFF3;
        flex-direction: column;
        position: relative;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
    }
    .one h1{
        font-size: 20px;
        margin-top: -.7rem;
    }
    .one p, .three article p{
        font-family: Montserrat;
        font-size: 12px;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
    }
    .one p{
        text-align: justify;
    }
    .one article h1{
        font-size: 20px;
    }
    .one article{
        margin-top: -2rem;
    }
    hr{
        width: 50px;
    }
    .two{
        flex-direction: column;
        margin-inline: -1rem;
        padding-inline: 1.5rem;
        margin-bottom: -2rem;
        margin-top: -10rem;
    }
    .two header h1{
        font-size: 20px;
        line-height: 25px;
        padding-top: 10px;
    }
    .two header{
        margin-left: 1rem;
    }
    #budv h1, #buds h1, #bucs h1{
        font-size: 15px;
        line-height: 25px;
    }
    #tele{
        width: 30px;
    }
    #budv{
        margin-bottom: -.5rem;
    }
    .two button{
        font-size: 16px;
        margin-top: 1rem;
    }
    .two article{
        flex-direction: column;
        justify-content: center;
        Padding-inline: 0rem;
    }
    #budv,#budc,#bucs{
        margin-left: 0rem;
    }
    .two header{
        margin-left: 0%;
    }
    .two header, .two div{
        width: 95%;
    }
    .two header,.three header{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .skills h1{
        font-size: 20px;
    }
    .skills ul{
        flex-direction: column;
        gap: 1rem;
    }
    .skills ul li{
        width: 100%;
    }
    .skills ul li h2{
        font-size: 22px;
    }
    .skills ul li span{
        font-size: 20px;
    }
    .skills ul li span p{
        font-size: 14px;
    }
    .newevent h1{
        font-size: 30px;
        line-height: 38px;
        width: 90%;
        padding-left: .5rem;
    }
    .newevent::before{
        border-radius: 10px;
    }
    #eventH{
        font-size: 16px;
        line-height: 28px;
        padding-inline: .5rem;
    }
    .three{
        margin-top: -1rem;
        margin-inline: -1rem;
        padding-inline: 1rem;
        margin-bottom: -3rem;
    }
    .three header{
        margin-bottom: -1.5rem;
        padding-left: .5rem;
    }
    .three header h1{
        font-size: 22px;
    }
    .countdown h1{
        font-size: 25px;
        line-height: 35px;
    }
    .countdown h3{
        font-size: 20px;
    }
    .countdown article{
        gap: 1.5rem;
    }
    .att{
        display: none;
    }
    .countdown small{
        font-size: 12px;
    }
    .countdown::before{
        border-radius: 0px;
    }
    #fulldet{
        font-size: 12px;
        transform: translateY(-3.5rem);
    }
    #evearr{
        padding: 5px;
        width: 20px;
        transform: translateY(4px);
    }
    .oldevents{
        animation: slide_event 9s linear 1s infinite;
    }
    @keyframes slide_event {
        100%{
            transform: translateX(-416%);
        }
    }
    .featured::-webkit-scrollbar-button{
        background-color: #e5e5e5;
        color: #2E7D32;
    }
    .featured ::-webkit-scrollbar-track{
        background-color: #e5e5e5;
        color: #2E7D32;
        height: 5px;
    }
    .bhub{
        animation: none;
    }
    .three hr{
        transform: translateY(0rem);
    }
    .testimonials{
        padding-inline: 1.5rem;
        margin-inline: -1rem;
        margin-top: -4rem;
    }
    .testimonials h1{
        font-size: 18px;
        line-height: 25px;
        margin-top: 10px;
    }
    .testimonial-card{
        overflow-x: hidden;
        width: 100%;
        margin: auto;
        
    }
    .reviewidentity h2{
        font-size: 16px;
        margin-right: 0;
        line-height: 25px;
    }
    .reviewidentity p{
        font-size: 12px;
        line-height: 20px;
    }
    .reviewidentity{
        display: flex;
        flex-direction: column;
    }
    .reviewidentity header{
        margin-left: 0rem;
    }
    .reviewimg{
        width: 70px;
        margin-right: -3rem;
    }
    #next,#prev{
        display: none;
    }
    .card1, .card2 {
        padding: 2rem 1.5rem;
        box-shadow: 0px 0px 15px #fbf2f2;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        margin-right: -2rem;
    }
    .card1 p{
        text-align: justify;
    }
    #reviewsHeader{
        font-size: 18px;
    }
    .testimonials h1{
        font-size: 20px;
    }
    .testimonials main{
        width: 100%;
        margin-inline: 0rem;
        padding-left: 1rem;
    }
    .teamsec{
        margin-inline: -1rem;
        padding-inline: 1.5rem;
        gap: 0rem;
        margin-top: 3rem;
    }
    .team-section{
        padding: 0 1rem;
        margin-bottom: 13rem;
    }
    .team-section main{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 6rem;
     }
     .main2{
        margin-top: 3rem;
     }
     .team-section main article{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 100%;
        text-align: center;
     }
     .cfs{
        flex-direction: column;
        gap: 5rem;
        margin-bottom: 5rem;
     }
     .teamsec header h1{
        font-size: 22px;
        line-height: 25px;
     }
     .teaml h2{
        line-height: 30px;
     }
     .teaml{
        flex-direction: column;
        width: 100%;
        clip-path: inset(-5px -5px -5px -5px);
        box-shadow: 0px 5px 15px gainsboro;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        border-bottom-left-radius: 0px;
     }
     .teaml .cfst{
        gap: 18px;
        width: 75%;
        padding-left: 1rem;
        padding-bottom: 1rem;
     }
     .photo{
        border-radius: 5px;
        width: 100%;
        height: 320px;
        object-fit: cover;
        object-position: 0% 10%;
     }
     #nduka{
        object-position: 0% 25%;
     }
     .teaml .socials{
        display: flex;
        gap: .2rem;
    }
    .otherst{
        align-items: center;
    }
    .otherst div img{
        width: 60px;
        padding-bottom: 10px;
    }
    .otherst h4 img{
        transform: translateY(3px);
        padding-left: 0px;
    }
    .otherst a{
        font-size: 23px;
        font-family: Montserrat;
        font-weight: 500;
        line-height: 20px;

    }
    .community{
        margin-inline: -1rem;
        padding: 0;
        padding-left: 1.5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-top: -8rem;
    }
    .community header h1{
        font-size: 22px;
    }
    .community-breakdown {
        flex-direction: column;
        gap: 2rem;
     }
     .community-breakdown li {
         width: 100%;
     }
     .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 22px;
        color: #2E7D32;
    }
    footer{
        margin-inline: -1rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
    .orgs{
        margin-top: 0;
        gap: 1rem;
        float: initial;
        margin: auto;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .orgs h3{
        display: none;
    }
    .contact{
        margin-top: 0rem;
    }
    .contact h3{
        font-size: 20px;
    }
}

/* @media only screen and (max-width: 450px){
    body{
        max-width: 450px;
    }
} */

@media only screen and (max-width:1920px){
    body{
        max-width: 1920px;
    }
    nav{
        width: 100%;
    }
}
@media only screen and (max-width:1600px){
    body{
        max-width: 1920px;
    }
    nav{
        width: 100%;
    }
}



@media (max-width:1200px) and (min-width:670px){
    html{
        overflow-x: hidden;
    }
    .top main{
        border: 1px solid;
    }
    .top main p{
        width: 100%;
    }
    .videos iframe{
        width: 750px;
        height: 320px;
    }
    .patnership{
        margin-inline: -6rem;
        padding-inline: 6rem;
    }
    .patners{
        flex-direction: column;
        padding-inline: 0rem;
    }
    .patners article{
        gap: -0rem;
        flex-direction: column;
        width: 40%;
        margin: auto;
        margin-top: -3rem;
    }
    .patners h1{
        font-size: 25px;
    }
    .patnertop{
        margin-bottom: -6rem;
    }
    .patner3{
        margin-top: -2rem;
    }
    .patners main{
        justify-content: center;
    }
    #baf{
        transform: translateX(6rem);
    }
    #ekolance{
        margin-left: -5rem;
    }
    .why{
        padding-inline: 3rem;
        margin-inline: -6rem;
    }
    .why h1{
        font-size: 25px;
    }
    .why p{
        font-size: 16px;
    }
    .why main img{
        width: 400px;
    }
    .one{
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-inline: 3rem;
    }
    .one>div{
        justify-content: center;
        width: 100%;
        opacity: .2;
        position: absolute;
        top: 0rem;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }
    #logo{
        height: 400px; 
    }
    .one article{
        width: 100%;
        padding-inline: 1rem;
    }
    .one article>div{
        margin-bottom: 2rem;
    }
    .problem{
        padding-inline: 3rem;
    }
    #teaching{
        font-size: 25px;
    }
    .teaches main div p{
        font-size: 18px;
    }
    .community{
        padding-inline: -3rem;
    }
    .community header h1{
        font-size: 25px;
        line-height: 26px;
    }
    .community-breakdown {
        flex-direction: row;
        gap: 1rem;
    }
    .community-breakdown li {
        width: 100%;
    }
    .community-breakdown h4 {
        font-family: 'Monument Extended', sans-serif;
        font-size: 39px;
        color: #2E7D32;
    }
    .two{
        flex-direction: column;
        margin-inline: -6rem;
        padding-inline: 3rem;
    }
    .two article{
        flex-direction: column;
        Padding-inline: 1rem;
    }
    .two header, .two div{
        width: 100%;
    }
    .two header,.three header,.testimonials h1,.team-section header h1{
        font-family: Monument Extended;
        font-size: 22px;
        line-height: 26.4px;
    }
    #dive{
        font-size: 25px;
    }
    #budv h1, #buds h1, #bucs h1{
        font-size: 20px;
    }
    .achieve{
        padding-inline: 3rem;
    }
    .achieve h1{
        font-size: 25px;
    }
    .achieve h3{
        font-size: 20px;
    }
    .testimonials{
        padding-inline: 1rem;
    }
    .testimonial-card{
        flex-direction: column;
    } 
    .two div{
        padding: 3rem 2rem;
        margin-bottom: 1rem;
    }
    #bucs{
        margin-top: -1rem;
    }
    .two div h1, .three article h1{
        font-size: 18px;
    }
    .two div button{
        font-size: 14px;
        padding: 7px 11px;
    }
    .three{
        padding-inline: 3rem;
        margin-inline: -6rem;
    }
    .three main{
        flex-direction: row;
    }
    .three article{
        flex-direction: row;
    }
    .newevent h1{
        font-size: 55px;
    }
    @keyframes slide_events {
        100%{
            transform: translateX(-139%);
        }
    }
    .teamsec{
        padding-inline: 3rem;
        margin-inline: -6rem;
    }
    .teamsec header h1{
        font-size: 25px;
    }
    .card1 {
        background-color: #f7fff9;
        z-index: 1;
    }
    .photo{
        width: 300px;
    }
    .testimonials{
        padding-inline: 3rem;
        margin-inline: -6rem;
    }
    #next{
        right: 4rem;
    }
    #prev{
        left: 3rem;
    }
    footer{
        margin-inline: -6rem;
        text-align: center;
    }
    .footer-div {
        flex-direction: column;
        gap: 2rem;
        padding-top: 3rem;
    }
    .footer hr{
        width: 100%;
    }
    .footer-container {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .orgs{
        margin-top: 0;
        gap: 1rem;
        float: initial;
        margin: auto;
        justify-content: center;
        padding-bottom: 1rem;
    }
    .orgs h3{
        display: none;
    }
    .logo{
        margin-top: -6rem;
        margin-bottom: -8rem;
    }
    .contact{
        margin-top: 0rem;
        justify-content: center;
    }
    .contact h3{
        font-size: 20px;
    }
}
@media (max-width: 1000px)  and (min-width: 670px){
        html{
        overflow-x: hidden;
    }
    #menu{
        display: block;
        position: absolute;
        z-index: 42;
        width: 40px;
        right: 1rem;
        top: .7rem;
    }
    #close{
        display: block;   
        transform: translateX(300%);
        position: absolute;
        z-index: 100;
        width: 20px;
        right: 2rem;
        top: 2rem;
        transition: .55s linear;
        z-index: 50;
    }
    body{
        width: 100%;
        padding-inline: 1rem;
        overflow-x: hidden;
    }
    nav main{
        width: 100%;
        background-color: white;
        position: relative;
        padding-top: 18px;
        padding-bottom: 14px;
    }
    #blogo{
        width: 300px;
        margin-left: -2.5rem;
        transform: translateY(0);
    }
    nav{
        width: 100%;
        padding-inline: 1rem;
        margin-inline: -1rem;
    }
    nav img{
        margin-bottom: 0rem;
        margin-top: 0rem;
        margin-left: -2rem;
        padding-left: -10rem;
    }
    nav ul{
        /* display: none; */
        position:absolute;
        inset: 0 0 0 30%;
        flex-direction: column;
        justify-content: initial;
        background-color: #F5FFF3;
        height: 100vh;
        padding-left: 2rem;
        padding-top: 5rem;
        transition: .5s linear;
        transform: translateX(100%);
        z-index: 43;
    }
    .top,.patnership,.why,.one,.problem,.community,.two,.achieve,.three,.teamsec,.testimonials{
        padding-inline: 2rem;
        margin-inline: -1rem;
    }
    .top main{
        padding-top: -2rem;
    }
    .top main h1{
        width: 50%;
        line-height: 60px;
        margin: auto;
        font-size: 350%;
        text-align: center;
    }
    .top main p{
        width: 80%;
        font-size: 22px;
    }
    .rectangles{
        width: 48px;
    }
    .top main button{
        font-size: 20px;
        width: 250px;
        padding: 10px;
        height: 50px;
    }
    .why header{
        width: 100%;
    }
    .why h1{
        width: 120%;
        line-height: 30px;
    }
    .cfs{
        flex-direction: column;
    }
    .teaml{
        width: 100%;
    }
    .problem .pdiv h1{
        font-size: 25px;
    }
    .problem .pdiv p{
        font-size: 18px;
        line-height: 25px;
    }
    .community-breakdown h4{
        font-size: 27px;
    }
    .community-breakdown p{
        font-size: 18px;
    }
    .newevent h1{
        font-size: 50px;
        line-height: 50px;
    }
    .neweventText{
        font-size: 18px;
        line-height: 28px;
    }
}
@media (max-width: 670px) and (min-width: 450px){
    .top main h1{
        text-align: center;
    }
}
@media (max-width: 900px) and (min-width: 670px){
    .textarea{
        padding-bottom: 1rem;
        text-align: center;
    }
    .why{
        flex-direction: column;
        gap: 1rem;
    }
    .why main img{
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
    }
    .why h3{
        font-size: 16px;
    }
    .why p{
        font-size: 14px;
        line-height: 25px;
    }
    .one div h1{
        font-size: 22px;
    }
    .problem .pdiv h1{
        font-size: 22px;
    }
    .problem .pdiv p{
        font-size: 16px;
        line-height: 25px;
    }
    .teaches{
        flex-direction: row;
        gap: 1rem;
    }
    #teaching{
        font-size: 22px;
    }
    .community h1{
        font-size: 22px;
    }
    .community-breakdown h4{
        font-size: 25px;
    }
    .community-breakdown p{
        font-size: 16px;
    }
    #dive{
        font-size: 22px;
    }
    .activity{
        margin-inline: -2rem;
        padding-inline: 2rem;
    }
    .activity_top,.activity_bottom{
        display: flex;
        flex-direction: column;
    }
    .teaches main div{
        width: 100%;
    }
    .teaches main div p{
        width: 40vw;
    }
    .problem .activity h4{
        position: relative;
    }
    .teaches main div::before{
        width: 100%;
    }
    .achieve h3{
        font-size: 18px;
        line-height: 25px;
    }
    .newevent h1{
        font-size: 40px;
        line-height: 40px;
    }
    .neweventText{
        font-size: 16px;
        line-height: 28px;
    }
    .teamsec{
        margin-top: -3rem;
    }
    .card1, .card2 {
        padding: 1.5rem 1rem;
        box-shadow: 0px 0px 15px #fbf2f2;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-right: -2rem;
    }
    #yt2{
        display: none;
    }
}